## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
import random
sample_list_1 = random.sample(range(100),k=80)
print(sample_list_1)

[28, 48, 39, 67, 27, 4, 83, 30, 91, 95, 65, 7, 76, 0, 74, 66, 62, 1, 14, 73, 16, 54, 93, 81, 80, 29, 17, 41, 89, 9, 23, 78, 37, 44, 60, 12, 68, 32, 33, 75, 57, 96, 26, 64, 82, 99, 98, 11, 79, 18, 15, 43, 35, 52, 24, 90, 46, 72, 92, 97, 25, 6, 22, 87, 45, 56, 8, 3, 88, 85, 49, 20, 36, 5, 19, 53, 42, 63, 50, 47]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [8]:
set1 = set(sample_list_1)
print(set1)
len(set1)
#Lenght is still 80

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 20, 21, 22, 23, 24, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 46, 47, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 96, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [3]:
import random
sample_list_2 = random.sample(range(100),k=80)
print(sample_list_2)

[83, 34, 50, 3, 8, 16, 24, 1, 87, 22, 35, 41, 77, 39, 68, 59, 66, 7, 63, 56, 42, 20, 73, 10, 21, 74, 78, 29, 47, 33, 86, 32, 95, 13, 51, 36, 93, 38, 64, 53, 72, 12, 61, 15, 54, 98, 5, 14, 9, 40, 45, 48, 88, 76, 67, 55, 2, 31, 60, 37, 94, 52, 6, 25, 99, 80, 96, 30, 46, 85, 69, 97, 28, 4, 19, 81, 27, 23, 0, 92]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [4]:
set2 = set(sample_list_2)
len(set2)
#Lenght is still 80

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [5]:
set3 = {i for i in set1 if i not in set2}
print(set3)

{89, 58, 90, 71, 11, 43, 44, 75, 79, 17, 18, 82, 84, 57, 26, 91, 62}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [6]:
set4 = {i for i in set2 if i not in set1}
print(set4)

{2, 67, 6, 38, 88, 10, 12, 13, 47, 50, 22, 23, 54, 86, 27, 60, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [7]:
set5 = {i for i in set1 if i in set2}
print(set5)

{0, 1, 3, 4, 5, 7, 8, 9, 14, 15, 16, 19, 20, 21, 24, 25, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 45, 46, 48, 51, 52, 53, 55, 56, 59, 61, 63, 64, 66, 68, 69, 72, 73, 74, 76, 77, 78, 80, 81, 83, 85, 87, 92, 93, 94, 95, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
len(set1)==len(set2)>len(set3)==len(set4)<len(set5)

80
80
17
17
63

True

#### Create an empty set called `set6`.

In [10]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 3, 4, 5, 7, 8, 9, 11, 14, 15, 16, 17, 18, 19, 20, 21, 24, 25, 26, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 48, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62, 63, 64, 66, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
z = set2.issubset(set1)
print(z)
z = set3.issubset(set1)
print(z)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [19]:
Union345 = set3.union(set4, set5)
print(Union345)

Union12 = set1.union(set2)
print(Union12)

Union12==Union345

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

True

#### Using the `pop` method, remove the first element from `set1`.

In [12]:
sample_list_1 = random.sample(range(100),k=80)
set1 = set(sample_list_1)
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [23]:
sample_list_1 = random.sample(range(100),k=80)
set1 = set(sample_list_1)

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{0, 2, 6, 7, 8, 10, 12, 13, 15, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 60, 65, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 94, 95, 96, 97, 98}